@using MarcketAppliction.Extensions
@model MarcketDataLayer.DTOs.Contacts.FilterContactusDto
@{
    ViewData["Title"] = "تماس با ما ";
}

<h2>مدریت تیکت ها</h2>
<form asp-area="Admin" asp-controller="ContactUs" asp-action="Index" method="get" id="filter-form">
    <input type="hidden" asp-for="PageId" />
    
</form>
<div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
        <div class="header bg-success">
            Bordered Table
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>

                    <th>کد</th>
                    <th>عنوان</th>

                    @*<th>وضعیت</th>*@
                    <th>کاربر</th>
                    <th>دستورات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ContactUs != null && Model.ContactUs.Any())
                {
                    @foreach (var item in Model.ContactUs)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Subject
                            </td>

                            <td>
                                @item.FullName
                            </td>

                            <td>
                                <a asp-action="Details" asp-controller="ContactUs" asp-area="Admin" asp-route-id="@item.Id" class="view">نمایش جزییات</a>
                            </td>
                        </tr>

                    }

                }
                else
                {
                    <partial name="_NoItemFound" />
                }


            </tbody>

        </table>
        <div class="footer">
            <partial name="_AdminPagingPartial" model="@Model.GetCurrentPaging()" />
        </div>

    </div>

</div>
