@using MarcketAppliction.EntitiesExtensions
@model List<MarcketDataLayer.Entities.Slider.Slider>



@if (Model != null && Model.Any())
{
<section class="slider_section slider_section_five mb-70 mt-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="slider_area owl-carousel">
				
                        @foreach (var slider in Model)
                        {
                            <div class="single_slider d-flex align-items-center" data-bgimg="@slider.GetSliderImageAddress()">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="slider_content">
                                                <h1> @slider.MainHeader</h1>
                                                <h2>@slider.SecondHeader</h2>
                                                <p> @slider.Description  </p>
                                                <a class="button" style="background: #F70D1A;" href="@slider.Link" target="blank">جزییات</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
					
				</div>
			</div>
		</div>
	</div>
</section>
}